:root{
    --one: #7C9473;
    --two: #CFDAC8;
    --three: #E8EAE6;
    --four: #CDD0CB;
    --five: rgba(243,243,243,255);
  }
.firstCard{
    width: 250px;
    position: relative;
}
.firstCard img{
    width: 100%;
    object-fit: cover;
}
.firstCard .productStatus{
    color: rgb(162, 162, 162);
    font-size: 14px;
}
.firstCard .productPrice{
    font-size: 14px;
    font-weight: bold;
}
.firstCard span{
    position: absolute;
    color: var(--three);
    top: 10px;
    left:10px;
    font-size: 12px;
}

/* responsive */
@media (max-width : 768px){
    
}
