@font-face {
    font-family: 'card';
    src: url('../styles/fonts/AROneSans-Regular.ttf') format('truetype');
}
:root{
    --one: #7C9473;
    --two: #CFDAC8;
    --three: #E8EAE6;
    --four: #CDD0CB;
    --five: rgba(243,243,243,255);
  }
/* firstCard */
.firstCard{
    width: 280px;
    position: relative;
}
.firstCard img:hover {
    cursor: pointer;
}
.firstCard img{
    width: 100%;
    object-fit: cover;
}
.firstCard .productStatus{
    color: rgb(162, 162, 162);
    font-size: 14px;
}
.firstCard .productPrice{
    font-size: 14px;
    font-weight: bold;
}
.firstCard span{
    position: absolute;
    color: var(--three);
    top: 10px;
    left:10px;
    font-size: 12px;
}
/* SecondCard */
.secondCard {
    width: 500px;
}
.secondCard:hover{
    cursor: pointer;
}
.secondCard img{
    width: 100%;
}
/* thirdCard */
.thirdCard {
    width: 250px;
}
.thirdCard img{
    width: 100%;
}
.thirdCard .productDesc{
    font-size: 14px;
}
.thirdCard .productPrice{
    font-size: 14px;
}
/* category card */
.categoryCardContent {
    width: 30%;
    border: 1px solid var(--three);
}
.categoryCardContent:hover{
    border-color: #7C9473;
    cursor: pointer;
    
}
.categoryCardContent img{
    width: 100%;
}
/*visa card */
.visaCard{
    width: 300px;
    height: 180px;
    background-color: rgb(106,89,222);
    color: white;
    font-family: card;
}
.visaCard p{
    font-size: 18px;
}
.visaCard small{
    font-size: 12px;
    color: white;
}
.visaCard svg:nth-child(1){
    width: 60px;
    height: 60px;
}
.visaCard svg:nth-child(2){
    width: 70px;
    height: 70px;
}
/* master card */
.mcParent{
    width: 300px;
    height: 180px;
    position: relative; 
}
.mc{
    width: 100%;
    height: 100%;
    position: relative;
}
.masterCard{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(10px);
    z-index: 1;
    box-shadow: 0px 5px 15px rgba(156, 156, 156, 0.509);
}
.masterCard img{
    width: 50px;
    height: 50px;
}
.masterCard svg{
    width: 50px;
    height: 50px;
}
.masterCard p{
    font-size: 18px;
}
.masterCard small{
    font-size: 12px;
}
.mc::before{
    content:"";
    position: absolute;
    top : -10px;
    left: -10px;
    width: 50%;
    height: 50%;
    background-color: #ff2cdf;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 100%;
}
.mcParent::before{
    content: '';
    position: absolute;
    bottom: -10px;
    right : -10px;
    width: 50%;
    height: 50%;
    background-color: #0014ff;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 10px;
}
/* cartcard */
button:hover #removeIcon{
    cursor: pointer;
}
button #removeIcon path {
    /* Propriétés de style par défaut */
    stroke: #191919; /* Couleur du trait par défaut */
    stroke-width: 12; /* Largeur du trait par défaut */
    stroke-linecap: round; /* Style de terminaison de ligne par défaut (round) */
    fill: transparent; /* Remplissage par défaut (transparent) */
    transition: stroke 0.3s ease, stroke-width 0.3s ease, stroke-linecap 0.3s ease, fill 0.3s ease; /* Transition pour la couleur du trait, la largeur du trait, le style de terminaison de ligne et le remplissage */
}
  
button:hover #removeIcon path {
    stroke: red; 
    stroke-width: 20; 
    stroke-linecap: square; 
    stroke-linejoin: bevel;
    fill:#ff8d6e !important ; 
}
.cartcard img{
    width: 150px;
    height: 150px;
}
/* card_skeleton */
.card_skeleton{
    width: 280px;
}
/* responsive */
@media screen and (min-width : 608px) and (max-width:1272px) {
    .categoryCardContent{
        width: 30%;
    }
    .firstCard{
        width: 30%;
    }
}
@media (max-width : 608px){
    .firstCard ,.card_skeleton{
        width: 46%;
    }
    .categoryCardContent{
        width:46%;
    }
    .firstCard .productName,.categoryCardContent .productName,.categoryName{
        font-size: 12px;
    }
    .firstCard .productStatus{
        font-size: 12px !important ;
    }
    .firstCard span{
        font-size: 10px;
    }
    .secondCard{
        width: 100%;
    }
    .secondCard .productName,.productDesc,.productPrice{
        font-size: 14px;
    }
    .secondCard .productRating{
        font-size: 17px;
    }
    .thirdCard{
        width: 46%;
    }
    .thirdCard .productName{
        font-size: 12px;
    }
    .thirdCard .productDesc,.productPrice{
        font-size : 12px;
        word-break: break-all;
    }
    .categoryCardContent > div button {
        font-size: 12px;
        width: 60px;
    }
    .visaCard{
        width: 250px;
    }
    .visaCard p{
        font-size: 14px;
    }
    .visaCard small,h5 {
        font-size: 10px;
    }
    .visaCard svg:nth-child(1){
        width: 50px;
        height: 50px;
    }
    .visaCard svg:nth-child(2){
        width: 60px;
        height: 60px;
    }
    .mcParent{
        width: 250px;
        height: 150px;
    }
    .masterCard img{
        width: 40px;
        height: 40px;
    }
    .masterCard svg{
        width: 40px;
        height: 40px;
    }
    .masterCard p{
        font-size: 14px;
    }
    .masterCard small{
        font-size: 10px;
    }
    .cartcard img{
        width: 30vw;
        height: 30vw;
    }
}
@media (min-width : 608px) and (max-width:1300px){
    
    .thirdCard{
        width: 30%;
    }
    .thirdCard .productName{
        font-size: 14px;
    }
    .thirdCard .productDesc,.productPrice{
        font-size : 14px;
        word-break: break-all;
    }
    
}