@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'nunito-regular';
    src: url('../styles/fonts/NunitoSans_10pt-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: "footer-font";
    src: url("../styles/fonts/Oswald-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: "BolderFont";
    src: url("../styles/fonts/LilitaOne-Regular.ttf") format('truetype');
  }
  :root{
    --one: #7C9473;
    --two: #CFDAC8;
    --three: #E8EAE6;
    --four: #CDD0CB;
    --five: rgba(243,243,243,255);
  }
  /* Use the custom font for your elements */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden !important;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    background: #f1f1f1; 
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    background: #888; 
    border-radius: 10px;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
/* navbar */
header{
    z-index: 30;
}
#cartIcon path {
    stroke-dashoffset: 1500;
    stroke-dasharray: 1500;
    fill: black;
    stroke: black;
    stroke-width: 0.5;
    opacity: 1
}
/*panier */
.panier {
    width: 500px;
    position: relative;
}
.panier .title {
    border-bottom: 1px solid var(--three);
}
.panierCart{
    border-top : 1px solid var(--three)
}
.panierCart h6{
    margin-bottom: 0px;
}
.panier .counterButton{
    border : 1px solid var(--three)
}
.panier .counterButton:hover{
    border : 1px solid var(--one)
}
.panier .counterButton button{
    background-color: white;
    border: none;
    width: 35px;
    height: 35px;
}
.panier .counterButton .dec{
    border-right: 1px solid var(--three);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.panier .counterButton p{
    width: 25px;
    height: 35px;
}
.panier .counterButton .acr{
    border-left: 1px solid var(--three);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.panier small {
    color: rgb(120, 120, 120);
}
.panier ul {
    height: 514px;
    overflow-y: scroll;
}
.panier input[type='text']{
    border : 1px solid var(--three);
    height: 40px;
}
.panier input[type='text']:hover{
    border : 1px solid var(--one)
}
.panier input[type='text']:focus{
    border:none;
    outline: 5px solid var(--two);
}
.panier .panierButton{
    position: absolute;
    bottom: 1rem;
}
.panier .panierButton button:nth-child(1){
    border: 1px solid var(--three);
    color: black;
    background-color: var(--three);
}
.panier .panierButton button:nth-child(2) {
    border: 1px solid var(--one);
    color: white;
    background:var(--one);
}
@keyframes cartAnimation {
    0% {
        fill: transparent;
    }
  to {
    stroke-dashoffset: 0;
    fill: black;
  }
}
#cartIcon:hover path{
    animation: cartAnimation 3s ease-in forwards;
}
#favIcon:hover path {
    animation : favAnimation 3s ease-in forwards;
}
.search:focus-within{
    outline: 2px solid var(--one);
}
header .LinksH6{
    transition: 0.5s;
    color: black;
}
header .LinksH6:hover{
   color: #7C9473;
}
header .location:focus{
    outline: 5px solid #7c947385;
}
.navdrawerHeader{
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.navbarListDrawer {
    padding-left: 0px;
}
.navbarListDrawer li{
    width : 300px;
    height: 50px;
    background-color: white;
    margin-top: 12px;
    border-radius: 10px;
}
.navbarListDrawer li a{
    color: black;
}
.navbarListDrawer li:hover{
    border: 1px solid var(--three);
    cursor: pointer;
}
.navbarListDrawer li:hover a{
    color: var(--one);
}
.searchProductList .searchList{
    border : 1px solid var(--three)
}
.searchProductList .searchList:hover{
    border: 1px solid var(--one);
    cursor: pointer;
}
.navModalSearch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height : 600px;
    background-color : rgb(255,255,255);
    box-shadow: 24;
    padding: 4;
    backdrop-filter : blur(10px);
    border-radius: 10px;
}
/* collection */
.couv1{
    background-color: rgba(246,246,246,255);
    width: 60%;
    height: 50%;
}
.couv2{
    background-color: rgba(246,246,246,255);
    width: 60%;
    height: 60%;
}
.couv3,.couv4{
    background-color: var(--five);
    width: 40%;
    height: 50%;
}
.couv1 img{
    width: 40%;
}
.couv2 img{
    width: 26.7%;
}
.couv3 img{
    width: 60%;
}
.couv4 img{
    width: 40%;
}
.couv1 small,.couv2 small,.couv3 small,.couv4 small{
    color: rgb(120, 120, 120);
}


/*seconde collection */
.secondCollection div button,.firstCollection button{
   border: 1px solid var(--one);
   color: var(--one);
}
.firstCollection button:focus{
    outline: 5px solid #7c947385;
    border: none;
}
.firstCollection button:hover{
    border: 1px solid var(--one);
   color: var(--one);
}
.secondCollection div button:hover{
    color: var(--three);
    background-color: var(--one);

}
.secondCollection div button:focus{
    background-color: var(--one);
    color: var(--three);
}

.secondCollection .thirdCardContent{
    width: 800px;
}

.thirdCollection .livraison,.instagram,.serviceClient,.vitesse{
    width: 200px; 
 }
 .thirdCollection .livraison img,.instagram img,.serviceClient img,.vitesse img{
    width: 30%;
 }
footer .LogoPart,.companyPart,.helpPart,.servicePart,.contactPart{
     width: calc(100%/4);
}
footer h2{
    font-size: 20px;
    font-family: footer-font;
}
footer li{
    font-size: 14px;
    text-transform: capitalize;
    transition: 0.5s;
    position: relative;
    color: rgb(120, 120, 120);
    margin-top: 5px;
}
footer li:hover{
    cursor: pointer;
    letter-spacing: 0.5px;
    color: black;
}
footer .otherPart {
    display: flex ;
    gap: 1rem;
    width: 100%;

}
/* category page */

.categoryPage .categoryList::-webkit-scrollbar{
    width: 5px;
}
.categoryPage .categoryList::-webkit-scrollbar-thumb{
    background: #888; 
    border-radius: 10px;
}
.categoryPage .categoryList::-webkit-scrollbar-track{
    background: #f1f1f1; 
    border-radius: 10px;
}
.categoryPage .categoryList h1,.categoryList h1{
    font-size: 18px;
    font-weight: bold;
}
.categoryPage .categoryList :where(.one,.two,.three,.four),.categoryList :where(.one,.two,.three,.four){
    border-bottom: 1px solid var(--three);
}
.categoryPage .categoryList ul,.categoryList ul{
    padding-left: 0px;
}

.categoryPage .categoryList  li:hover,.categoryList  li:hover{
    cursor:pointer;
    color: #7C9473;
    border: 1px solid var(--three)

}
.categoryPage .categoryList .three .search,.categoryList .three .search{
    width: 60%;
    border: 1px solid var(--three);
}
.categoryPage .categoryList .three .search:focus,.categoryList .three .search:focus{
    outline: 5px solid #7c94737f;
}
.categoryPage .categoryList .three button,.categoryList .three button{
    background-color: var(--one);
    color: var(--three);
    font-weight : bold;
}
.categoryPage .categoryList .radio ,.categoryList .radio{
    width: 150px;
    border: 1px solid var(--three);
}
.categoryPage .categoryList .radio:hover,.categoryList .radio:hover{
    border-color: var(--one);
    cursor: pointer;
}
.categoryPage .categoryList .rating ,.categoryList .rating{
    border: 1px solid var(--three);
}
.categoryPage .categoryList .rating:hover,.categoryList .rating:hover{
    border-color: var(--one);
    cursor: pointer;
}

.categoryPage .categoryContent .titleContainer,.categoryPage .categoryContent .titleContainerGlass{
    height: 100px;
    background-color: #e8eae67a;
    
    border-radius: 10px;
}
.categoryPage .categoryContent .selectionElement{
    background-color: rgba(255, 255, 255);
}
.categoryPage .categoryContent .selectionElement select{
    height: 40px;
    border: 1px solid var(--three);
}
.categoryPage .categoryContent .selectionElement select:hover{
    border-color: var(--one);
    cursor: pointer;
}
.categoryPage .categoryContent .selectionElement select:focus{
    outline: 5px solid #7c94737f;
}
.categoryPage .categoryContent .selectionElement button:focus{
    outline: 5px solid #7c94737f;
}
/* favorite page */
#removeIcon:hover{
    cursor: pointer;
}
#removeIcon path {
    /* Propriétés de style par défaut */
    stroke: #191919; /* Couleur du trait par défaut */
    stroke-width: 12; /* Largeur du trait par défaut */
    stroke-linecap: round; /* Style de terminaison de ligne par défaut (round) */
    fill: transparent; /* Remplissage par défaut (transparent) */
    transition: stroke 0.3s ease, stroke-width 0.3s ease, stroke-linecap 0.3s ease, fill 0.3s ease; /* Transition pour la couleur du trait, la largeur du trait, le style de terminaison de ligne et le remplissage */
}
  
#removeIcon:hover path {
    stroke: red; 
    stroke-width: 20; 
    stroke-linecap: square; 
    stroke-linejoin: bevel;
    fill:#ff8d6e !important ; 
}
.FavoriteContainer{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
/* button person in navbar */
.per:hover{
    cursor: pointer;
}
.login_modal{
    width: 500px;
    height: auto;
    background-color: white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 1rem 2rem;
    border-radius: 10px;
}
/* table design */
.table_container{
    overflow-x: auto;
}
.table_container::-webkit-scrollbar{
    height: 5px;
}
.table_container::-webkit-scrollbar-track{
    background-color: white;
}
.table_container::-webkit-scrollbar-thumb{
    background-color: #a8a8a8;
    border-radius: 20px;
}
.myTable {
    width: 1290px !important;
    height: 500px;
    overflow-y: auto;
}
.myTable::-webkit-scrollbar{
    width: 5px;
}
.myTable::-webkit-scrollbar-track{
    background-color: white;
    width: 5px;
}
.myTable::-webkit-scrollbar-thumb{
    background-color: #a8a8a8;
    border-radius: 20px;
}
.myTable::-webkit-scrollbar{
    width: 5px;
}
.myTable .thead{
    position: sticky;
    top: 0px;
    background-color: #f1f1f1b5;
    backdrop-filter: blur(20px);
    z-index: 2;
}
.myTable div {
    border: none !important;
}
.myTable .thead .th:nth-child(1), .myTable .tbody .td:nth-child(1){
    width: 10%;
}
.myTable .thead .th:nth-child(2),.myTable .tbody .td:nth-child(2){
    width: 15%;
}
.myTable .thead .th:nth-child(3),.myTable .tbody .td:nth-child(3){
    width: 10%;
}
.myTable .thead .th:nth-child(4),.myTable .tbody .td:nth-child(4){
    width: 15%;
}
.myTable .thead .th:nth-child(5),.myTable .tbody .td:nth-child(5){
    width: 10%;
}
.myTable .thead .th:nth-child(6),.myTable .tbody .td:nth-child(6){
    width: 10%;
}
.myTable .thead .th:nth-child(7),.myTable .tbody .td:nth-child(7){
    width: 10%;
}
.myTable .thead .th:nth-child(8),.myTable .tbody .td:nth-child(8){
    width: 10%;
}
.myTable .thead .th:nth-child(0),.myTable .tbody .td:nth-child(9){
    width: 10%;
}
.myTable .tr .td:nth-child(4) > div > div {
    z-index: 1 !important;
}
/* Search in favorite page */ 
.Search:focus-within{
    outline: 2px solid var(--one) !important;
}
.SearchFilter button:hover{
    border: 2px solid var(--one) !important;
    color: var(--one) !important;
}
.SearchFilter button svg{
    stroke: #484848;
}
.SearchFilter button:hover svg{
    stroke: var(--one) !important;
}
/* modals*/
.confirmation_modal{
    width: 400px;
    height: auto;
    background: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* responsive part */
@media (max-width :400px){
    .confirmation_modal {
        width: 90%;
    }
    footer .otherPart{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .companyPart,.helpPart,.servicePart,.contactPart{
        width: 100%;
    }
    .categoryPage .pagination{
        width: 80%;
    }
}
@media (min-width:400px) and (max-width:700px) {
    footer .otherPart{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .companyPart,.helpPart,.servicePart,.contactPart{
        width: 47%;
    }
}

@media screen and (max-width : 600px) {
    .navbarListDrawer li{
        width : 100%
    }
    .navModalSearch{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .collection .coll1,.coll2{
        flex-wrap: wrap;
    }
    .collection .couv1,.couv2,.couv3,.couv4{
        width: 100%;
        height: calc(100%/4);
    } 
    .collection .couv1 img,.couv2 img,.couv3 img,.couv4 img{
        width: 30%;
    }
    .collection h5{
        font-size: 16px;
    }
    .secondCollection div button{
        font-size:  12px ;
    }
}
@media screen and (min-width : 600px) and (max-width:1000px) {
    .collection .coll1,.coll2{
        flex-wrap: wrap;
    }
    .collection .couv1,.couv2,.couv3,.couv4{
        width: 100%;
        height: calc(100%/4);
    } 
    .collection .couv1 img,.couv2 img,.couv3 img,.couv4 img{
        width: 30%;
    }
}
@media (min-width: 576px) {
    .FavoriteContainer{
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .FavoriteContainer{
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .FavoriteContainer{
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .FavoriteContainer {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .FavoriteContainer {
      max-width: 1320px;
    }
  }